* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030712;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 50px;
}

.contenedor {
    width: 100%;
    max-width: 1080px;
    ;
    margin: 20px auto;

    main {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        gap: 20px;

        section {
            width: 100%;
            padding: 5px 10px;
            text-align: center;
            background-color: #111827;

            h2 {
                font-size: 2rem;
                margin-top: 20px;
            }
        }

        /* Controles */
        .controles {
            .teclas-direccion {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1.5rem;
                gap: 0.5rem;

                .fila-01,
                .fila-02 {
                    display: flex;
                    gap: 0.5rem;

                    kbd {
                        background-color: #1F2937;
                        padding: 0.8rem 1rem;
                        border-radius: 0.5rem;
                        font-size: 1.3rem;
                        border: 1px solid #313131;

                        cursor: pointer;

                        &:hover {
                            background-color: #374151;
                            color: #000;
                        }
                    }
                }
            }

            .tecla-accion {
                background-color: #1F2937;
                border: 1px solid #313131;
                padding: 0.7rem;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                font-weight: bold;
                margin: 1rem 0;
                cursor: pointer;

                &:hover {
                    background-color: #374151;
                    color: #000;
                }
            }

            p {
                color: #747B7F;
                font-size: 0.9rem;

                kbd {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        .game-info-panel {

            .pieza-siguiente,
            .puntuacion {
                margin-bottom: 20px;

                span {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            .contenedor-pieza {
                display: grid;
                grid-template-columns: repeat(4, 16px);
                grid-template-rows: repeat(4, 16px);
                gap: 3px;
                justify-content: center;
                padding: 10px;
                margin-top: 10px;

                .cell {
                    width: 20px;
                    height: 20px;
                    background-color: #111827;
                    border: 1px solid #333;

                    &.active {
                        background-color: #9CA3AF;
                    }
                }
            }

            .puntuacion {
                margin-top: 35px;

                .puntos-actual {
                    display: inline-block;
                    width: 100%;
                    padding: 15px 0;
                    background-color: #030712;
                    margin-top: 15px;
                }

                p {
                    margin-top: 25px;
                    color: #d1d5db;

                    span {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }

            button {
                display: none;
                width: 100%;
                color: #fff;
                background-color: #374151;
                padding: 15px 0;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                margin-top: 150px;

                &:hover {
                    background-color: #4c5563;
                }

                &:nth-of-type(2) {
                    opacity: 0.5;
                    cursor: auto;
                }
            }
        }

        .canvas {
            position: relative;

            canvas {
                border: 1px solid #374151;
            }

            .contenedor-menu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                background-color: #111827;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                line-height: 40px;

                opacity: 0.95;

                h2 {
                    width: 100%;
                    font-size: 35px;
                    text-transform: uppercase;
                }

                button {
                    background-color: #374151;
                    color: #fff;
                    border: none;
                    width: 60%;
                    height: 50px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 16px;
                    cursor: pointer;
                    margin-top: 15px;

                    &:hover {
                        background-color: #4c5563;
                    }
                }

            }
        }
    }
}